@font-face {
  font-family: "Material Symbols Outlined";
  src: url("/fonts/material-symbols-outlined.woff2") format("woff2");
  font-display: swap;
}

.material-symbols-outlined {
  font-family: "Material Symbols Outlined";
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 1;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-variation-settings: 'wght' 400;
  font-feature-settings: 'liga';
}
